<% provide(:title, 'Change Password') %>
	<div id="content">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <div class="well well-form txt-lefty">
              <h3>Change your password!</h3>
              <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
			  <%= devise_error_messages! %>
			  <%= f.hidden_field :reset_password_token %>
		        <div class="control-group">
		          <div class="controls">
			        <div class="input-prepend">
			          <span class="add-on"><i class="icon-user"></i></span>
			          <%= f.password_field :password, { :placeholder => "New password", :class => "span3", :required => true } %>
			        </div>
				  </div>
				</div>
				<div class="control-group">
				  <div class="controls">
			        <div class="input-prepend">
			          <span class="add-on"><i class="icon-user"></i></span>
			          <%= f.password_field :password_confirmation, { :placeholder => "Confirm new Password", :class => "span3", :required => true, :'data-validation-matches-match' => "user[password]",  :'data-validation-matches-message' => "Must match password entered above" } %>
			        </div>
				  </div>
			    </div>
			    <br>
                <div>
			      <button class="btn btn-primary" type="submit">Change my password</button>
                </div> 
              <% end %>
				<div>
		          <%= render "devise/shared/links" %>
				</div> 			  
            </div>
		  </div>  
		</div>  	
	  </div>
	</div>