<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="one click fund rasising online amazon shopping">
	
    <%= stylesheet_link_tag    "application", media: "all" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
	
	<!--
    <link href="/assets/bootstrap.css" rel="stylesheet">
	<link href="/assets/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/assets/glyphicons.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="/assets/base.css" rel="stylesheet">
	<link href="/assets/blue.css" rel="stylesheet">
	-->
	
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/favicon.png">
  </head>  

  <body>
	
	<%= render 'layouts/header' %>

   <%= yield %>
	
	<%= render 'layouts/footer' %>

	<div id="copywrite">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <p>&copy; 2013 AFG <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>			
		  </div>		  
		</div>	  
      </div>	  
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/assets/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/jquery.fitvids.js"></script>
	<script src="/assets/jqBootstrapValidation.js"></script>
	<script src="/assets/bounce.js"></script>	

  </body>
</html>